body {
  background-color: #823788;
  text-align: center;
}

body::after {
  background: url(./assets/primavera2.jpeg);
  background-size: cover ;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;   
}

.tituloPrincipal{
  color: #823788;
}

table {
  border: 1px solid;
  background-color: #F8B1FD;
  box-shadow: 4px 4px 10px rgb(109, 106, 106);
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  /* border-spacing: 5px 8px; */
}

.simulador{
  border: 1px solid;
  background-color: #F8B1FD;
  box-shadow: 4px 4px 10px rgb(109, 106, 106);
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  /* border-spacing: 20px 5px; */
}

th,
.total {
  text-transform: capitalize;
  padding: 5px;
  background-color: #F265FC;
  color: black;
  border: 1px solid;
  border-radius: 5px;
  border-color: black;
}

.texto-cortado {
  text-transform: capitalize;
  width: 130px; /* Ancho máximo del contenedor */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que desborda el contenedor */
  text-overflow: ellipsis;
}

.total {
  color: rgb(255, 255, 255);
  background-color: #7A577D;
  border-top: 1px solid #000000;
  padding-top: 8px;
  padding-left: 10px;
  font-weight: bold;
}

.arrow,
.banamextotal {
  color: #00967d;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border-radius: 4px;
  padding: 4px;
  font-weight: bold;
  padding: 10px;
}

.registroPagos{
  padding: 4px;
}

h3 {
  color: #F8B1FD;
  margin-left: auto;
  margin-right: auto;
}

.titulotabla {
  background-color: #C151C9;
}

select {
  margin: 20px;
}

.navegacion{
  background-color:#000000;
  margin: 10px;
}

.adelanteAtras {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adelanteAtras button,
.adelanteAtras h3 {
  margin: 0 5px; /* Espacio entre los elementos */
}

.aa {
  padding-left: 20px;
  padding-right: 20px;
}

.sumar{
  background-color: #7A577D;
  padding: 10px;
  width: 30%;
  margin: 10px
}

.resetear{
  background-color: #F265FC;
  padding: 10px;
  width: 30%;
}

.negritas{
  font-weight: bolder;
}

